
/***** Footer *****/

.footer-top { padding: 60px 0;background-color:#f7f8fa; text-align: left; color: rgb(29, 29, 29); }
.footer-top h3 { padding-bottom: 10px; color: rgb(0, 0, 0); }

.footer-about img.logo-footer { max-width: 300px; margin-top: 0; margin-bottom: 18px; }
.footer-about p a { color:rgb(29, 29, 29); border-bottom: 1px dashed rgb(20, 20, 20); }
.footer-about p a:hover, .footer-about p a:focus { color: rgb(0, 0, 0); border-color: #aaa; }

.footer-contact p { word-wrap: break-word; }
.footer-contact i { padding-right: 10px; font-size: 18px; color: rgb(2, 2, 2); }
.footer-contact p a { color: rgb(5, 5, 5) ;font-weight: 900;}
.footer-contact p a:hover, .footer-contact p a:focus { color: rgb(8, 8, 8); border-color: #aaa; }
.footer-social a { display: inline-block; margin-right: 20px; margin-bottom: 8px; color: rgb(0, 0, 0); border: 0; }
.footer-social a:hover, .footer-social a:focus { color: rgb(70, 70, 70); border: 0; }
.footer-social i { font-size: 24px; vertical-align: middle; }

.footer-bottom { padding: 15px 0; background: rgb(22, 22, 22); text-align: left; color: rgb(17, 17, 17); }

.footer-copyright p { margin: 0; padding: 0.5rem 0; }
.footer-copyright a { color: rgb(34, 34, 34); border: 0; }
.footer-copyright a:hover, .footer-copyright a:focus { color: rgb(5, 5, 5); border: 0; }
#footerStyle{
    border-radius: 150px 150px 0 0;
    background: linear-gradient(225deg, #9164ff, #8bfff4);
    
}
#contact{
    padding-left: 0;
}
@media (max-width:800px){
    #footerStyle{
        border-radius: 75px 75px 0 0;
    }
    #contact{
        padding-left: 0;padding-right: 0;
    }
    .footer-about img.logo-footer { 
        max-width: 200px; 
        max-height: auto;
        margin-top: 0; 
        margin-bottom: 18px; 
    }

}
@media(max-width:1192px){
    .footer-about img.logo-footer { 
        max-width: 250px; 
        max-height: auto;
        margin-top: 0; 
        margin-bottom: 18px; 
    }
}
